src.pem
.#*scratch*
*.log
*.gz
*.out
*.aux
src/Site Password for Safari/Site Password for Safari.xcodeproj
*.xcuserstate
src/Site Password for Safari/Site Password for Safari.xcodeproj/project.xcworkspace/xcuserdata/alan.xcuserdatad/UserInterfaceState.xcuserstate
src/Site Password for Safari/Site Password for Safari.xcodeproj/project.pbxproj
